body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 10%;
  min-height: 100vh; // Asegura que el cuerpo tenga al menos la misma altura que la ventana del navegador
}

h2.header {
  margin-top: 30px;
  background-color: transparent;
}

.generos {
  background-color: rgb(231, 210, 231);
  max-width: calc(100% - 15%);

  width: 100%;
  margin: 15px auto 30px auto;
  font-size: 16px;
  //display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.cont {
  @media (max-width: 767px) {
    max-height: 250px;
    overflow-y: auto;
  }
}

.generos h2 {
  color: #ebecf3;
  background-color: rgb(179, 133, 179);
  //background-color: indigo;
  width: calc(100% + 20px);
  margin-left: -10px;

  @media (min-width: 768px) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  border-radius: 15px;
  padding: 10px;
}

.list_canciones {
  padding-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(5, 1fr);
  gap: 10px; // Espacio entre los elementos

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: repeat(3, 1fr);
  }

  // Asegúrate de que los elementos hijos no se desborden
  .cancion {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;

    overflow: auto;
    position: relative;

    .imag_cont {
      position: relative;
      width: 100%;
      padding-bottom: 100%; // Esto hace que el div sea siempre cuadrado
      overflow: hidden; // Esto asegura que la imagen no se salga del div
      margin-bottom: 5%;

      img {
        position: absolute;
        object-fit: contain; // Esto hace que la imagen se escale para ajustarse al div, manteniendo su aspecto original
        width: 100%;
        height: 100%;
        top: 50%; // Centra la imagen verticalmente
        left: 50%; // Centra la imagen horizontalmente
        transform: translate(-50%, -50%); // Ajusta la posición de la imagen para que esté centrada
      }
    }
  }
}