<nav class="navbar navbar-expand-lg navbar-light"> 
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custom-bg" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/register">Create user</a> <!-- Añadido text-white -->
        </li>
        <li class="nav-item ">
          <a class="nav-link active text-white" aria-current="page" href="/login">Log in<img src="../assets/p.png" alt="Imagen de perfil" width="35" height="35" style="border-radius: 50%; margin-left: 15px;">
          </a>
        </li >
      </ul>
    </div>
  </div>
</nav>
