.dropdown-menu {
  /* Cambia el color de fondo del menú desplegable */
  background-color: #f3e6ff;
  max-width: 100%; // Limita la anchura del menú desplegable
  overflow-x: auto; // Permite el desplazamiento si el contenido es demasiado ancho

}

.dropdown-item {
  /* Cambia el color y el tipo de letra de los elementos del menú desplegable */
  color: #343a40;
  font-family: Arial, sans-serif;
}

.dropdown-item:hover {
  /* Cambia el color de fondo de los elementos del menú desplegable al pasar el ratón por encima */
  background-color: #e5cafd;
}

.dropdown-item.user-app-name:hover {
  /* Cambia el color de fondo del elemento "userAppName" al pasar el ratón por encima */
  background-color: #f3e6ff;
}

.nav-item {
  padding-left: 45px;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-bg {
  background-color: #170b1f;
}
