<div class="container">
  <h2 class="header">Iniciar Sesión</h2>

  <div class="row g-0">
    <!-- Columna para la imagen -->
    <div class="col-md-6">
      <img src="../assets/icon.jpg" class="img-fluid" alt="Imagen">
    </div>
    <!-- Columna para el formulario -->
    <div class="col-md-6">
      <div class="info_container">
        <form #frmLogin="ngForm" class="form" (ngSubmit)="onLogin(frmLogin)">
          <p><input type="email" name="email" placeholder="Email" ngModel required /></p>
          <p><input type="password" name="password" placeholder="Password" ngModel required /></p>
          <div class="link">¿Has olvidado tu contraseña? <a href="/passToken">Reset password</a></div>

          <p><input type="submit" value="Log in" /></p>
          <div class="link1">¿Aún no tienes cuenta? <a href="/register">Register</a></div>
        </form>
      </div>
    </div>
  </div>

</div>