.form input[type="submit"] {
    margin-top: 5%;
}

.link {
    margin-bottom: 20px;
    text-align: right;
}

.info_container {
    position: relative;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        padding-bottom: 100%; // Esto hace que la altura sea igual al ancho
        overflow: hidden;

        .form {
            position: absolute;
            top: 10px;
            left: 0;
            bottom: 0;
            right: 0;
            // Aquí puedes agregar más estilos para el formulario
        }
    }
}