@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import '~bootstrap/dist/css/bootstrap.css';
@import '../node_modules/ngx-toastr/toastr.css';

.navbar {
  background-color: #170b1f;
  height: 60px;
}

body {
  background: #432356;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 900px;
  /* Puedes ajustar el ancho máximo según tus preferencias */
  width: 100%;
  margin: 16px auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

/* Reset top and bottom margins from certain elements */
.header,
.form p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack 
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #3f3db3;
}
*/
.header {
  background: #3f3db3;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  /* Hace que el header tenga el mismo ancho que el contenedor */
  box-sizing: border-box;
  /* Asegura que el padding no afecte el ancho total */
  
}

.form {
  background: #E0D9F6;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.info_container {
  background: #E0D9F6;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

// Every row inside .login-container is defined with p tags 
.form p {
  padding: 12px;
}

.form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 10px;

}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

// Text fields' focus effect 
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus {
  border-color: #888;
}

.form input[type="submit"] {
  background: #3f3db3;
  border-color: transparent;
  color: #fff;
  border-radius: 1000px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background: #3937a1;
  color: #fff
}

// Buttons' focus effect 
.form input[type="submit"]:focus {
  border-color: #3937a1;
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.85em;
  background: #3f3db3;
  border-color: transparent;
  color: #fff;
  border-radius: 1000px;
  cursor: pointer;
}

.btn:hover {
  background: #3937a1;
  color: #fff;
}

.btn:focus {
  border-color: #3937a1;
}

.btnC {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.85em;
  background: rgb(221, 34, 34);
  border-color: transparent;
  color: #000000;
  cursor: pointer;
}

.btnC:hover {
  background: rgb(204, 17, 17);
}

.btnC:focus {
  border-color: rgb(170, 0, 0);
}

.link,
.link1 {
  margin: 12px;
  font-family: inherit;
  font-size: 0.85em;
  margin-top: 0;
}

.toast-error {
  background-color: #f4dc05;
  color: black !important;
  font-family: 'Times New Roman', serif !important;
  font-size: 20px;
}

.toast-info {
  background-color: #9B9FF2;
  color: black !important;
  font-family: 'Times New Roman', serif !important;
  font-size: 20px;
}
.body-api {
  background: #E0D9F6;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//GRANATE #661526
//LILA FUERTE #690759
//AZUL GRIS #517B9D
//LILA #432356