.container{
  max-width: 600px;
}
.info_container {
    margin-bottom: 30px;
}

.contenido_escondido {
  background: #f7f8ff;
  width: 100%;
  height: auto; // Ajusta la altura al contenido
  box-sizing: border-box;
  margin-bottom: 30px;
}

.info_container input[type="submit"] {
    background: #3f3db3;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .info_container input[type="submit"]:hover {
    background: #3937a1;
  }
  
  .info_container input[type="submit"]:focus {
    border-color: #3937a1;
  }
  