<div class="container">

    <h2 class="header">Reset password</h2>
    <div class="info_container">

        <form #frmPass="ngForm" class="form" (ngSubmit)="onMail(frmPass)">
            <p><input type="email" name="email" placeholder="Email" ngModel required /></p>
            <div class="esconder" *ngIf="!mostrarDiv">
                <p><input type="submit" value="Send Token" /></p>
            </div>
            <div class="contenido_escondido" *ngIf="mostrarDiv">
                <p><input type="submit" value="Resend Token" /></p>
            </div>

        </form>

        <div class="contenido_escondido" *ngIf="mostrarDiv">
            <form #frmPass1="ngForm" class="form" (ngSubmit)="onPass(frmPass1)">
                <p><input type="text" name="token" placeholder="Token" ngModel required /></p>
                <p><input type="password" name="password" placeholder="password" ngModel required /></p>
                <p><input type="password" name="password2" placeholder="password" ngModel required /></p>
                <p><input type="submit" value="Change password" /></p>
            </form>
        </div>
    </div>
</div>